@import './var.scss';


.designerName {
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 2.9375rem;
    line-height: 3.625rem;
    max-width: 7.75rem;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 4.0625rem;
    margin-bottom: 1.4375rem;

     @media (min-width: $breakpointXl) {
        margin-top: 2.4806rem;
        margin-bottom: 1.915rem;
    }
}