@font-face {
    font-family: "Gilroy-Medium";
    src: url(../../public/font/Gilroy-Medium.woff2) format("woff2"),
      url(../../public/font/Gilroy-Medium.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gilroy-Bold";
    src: url(../../public/font/Gilroy-Bold.woff2) format("woff2"),
      url(../../public/font/Gilroy-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }