@import './var.scss';

.languageList {
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.625rem;
    display: flex;
    justify-content: space-between;
    max-width: 8.125rem;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: rotate(90deg);

    .languageRU {
        cursor: pointer;
        position: relative;

        //margin-right: 1.5rem;
        &::after {
            content: "";
            position: absolute;
            top: .5625rem;
            right: -0.75rem;
            background-color: black;
            width: .25rem;
            height: 1.9375rem;

             @media (min-width: $breakpointXl) {
                width: .125rem;
                height: .9375rem;
                top: .3125rem;
                right: -0.5rem;
            }
        }

        color: $grey-color;

        &:hover {
            opacity: 0.7;
        }
    }

     @media (min-width: $breakpointXl) {
        max-width: 4.0625rem;
        font-size: 1rem;
        line-height: 1.25rem;
        transform: rotate(-90deg);
    }

    .languageENG {
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}