@import './var.scss';

.pageHeader {
    z-index: 10;
    font-family: "Gilroy-Bold";
    font-style: normal;
    font-weight: 400;
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;



     @media (min-width: $breakpointXl) {
        margin: 0 auto;
        position: inherit;
        max-width: 58.9756rem;
        height: 5.4962rem;
        border-bottom: .0625rem solid $grey-color;
    }
}