.skillTitle {
    margin: 0;
    padding: 0;
    margin-bottom: 2.5256rem;
    width: 4.9581rem;
    font-family: 'Gilroy-Bold';
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: $grey-color;
    text-align: center;
}